body{
    background-image: url("https://images.unsplash.com/photo-1469598614039-ccfeb0a21111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-position: center;
    background-repeat: round;
    background-attachment: fixed;
    background-size: contain;
    
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 30px;
}

#jokePicker {
    box-shadow: 0px 0px 30px 30px rgb(250, 0, 255, 0.35);
    margin: 30px;
    background-color: rgb(255, 100, 255, 80%);
    padding: 35px;
    border-radius: 20px 20px 20px;
}

#jokesdiv {
    box-shadow: 0px 0px 30px 30px rgba(0, 98, 255, 0.35);
    margin: 30px;
    background-color: rgb(136 182 255);
    padding: 35px;
    border-radius: 20px 20px 20px;
}

#create {
    box-shadow: 0px 0px 30px 30px rgba(230 255 0 / 35%);
    margin: 30px;
    background-color: rgb(245 255 138 / 80%);
    padding: 35px;
    border-radius: 20px 20px 20px;
    padding-top: 25px;
}

#setup{
    font-weight: bold;
}